{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>-My name is Dardan Tërnava. I come from Kosovo, a small country in Balkan-Europe. I attended the high school of medicine and after graduating I continued pursuing Medicine studies - General Medicine branch on the "State University of Tetova" in North Macedonia on 2018.</p>
        <p>-During my studies I've developed a liking to programming also and started learning bit by bit through different online courses and e-books focusing more, but not only on software and back-end developing. During my learning of programming, I codded up this blog site which I intend to use for publishing different facts and advices about general health as I advance on my studies and maybe on other fields also.</p>
        <p>-Feel free to write your feedback on the comments or directly to me on my social media.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}