{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.pinimg.com/originals/09/78/bb/0978bbf651cc605cf7ff3757f67d1848.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Dardan's Medical Blog</h1>
            <span class="subheading">A collection of health facts, advices and more.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}

            {% if userid == 1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">

          {% if userid == 1: %}
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}